@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&amp;display=swap";

.mm-container {
	display: none;
	width: 360px;
	height: 600px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #24292e;
	position: fixed;
	top: 5px;
    right: 5%;
	background-color: #fff;
	border: 1px solid #bbb;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .35);
	z-index: 99999999;
}

.mm-loader-block {
	height: 100%
}

.mm-loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%
}

.mm-loader-icon {
	width: 160px;
	height: 160px;
	margin-bottom: 20px
}

.mm-permission-block {
	padding-top: 25px
}

.mm-permission-icon {
	width: 48px;
	height: 48px;
	margin-bottom: 20px
}

.mm-permission-badge-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center
}

.mm-permission-badge {
	max-width: 100%;
	display: flex;
	align-content: center;
	border: 1px solid #bbc0c5;
	border-radius: 100px;
	padding: 8px 16px;
	margin: 0 4px
}

.mm-permission-badge-icon,
.mm-permission-badge-text {
	display: flex;
	align-items: center
}

.mm-permission-badge-icon {
	width: 32px;
	height: 32px;
	margin-left: -4px;
	margin-right: 8px
}

.mm-permission-badge-text {
	color: #535a61;
	margin: 0
}

.mm-permission-heading {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	margin-top: 35px
}

.mm-permission-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center
}

.mm-permission-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	line-height: 20px;
	border-bottom: 1px solid #d6d9dc;
	padding: 15px 20px
}

.mm-permission-item svg {
	display: block;
	height: 20px;
	padding: 10px;
	min-width: 16px;
	min-height: 16px;
	color: #6a737d;
	font-size: 1rem
}

.mm-footer-container {
	position: absolute;
	width: 100%;
	bottom: 0
}

.mm-footer-text {
	font-size: 12px;
	color: #6a737d;
	text-align: center;
	margin: 0
}

.mm-footer-text a {
	color: #037dd6;
	text-decoration: none
}

.mm-footer-button-container {
	display: flex;
	justify-content: space-between;
	flex: 0 0 auto;
	border-top: 1px solid #d6d9dc;
	margin-top: 10px;
	padding: 15px
}

.mm-footer-button {
	display: flex;
	width: 124px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 20px;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	padding: 12px 16px
}

.mm-secondary-button {
	background-color: #fff;
	color: #535a61;
	border: 1px solid #6a737d
}

.mm-primary-button {
	background-color: #037dd6;
	color: #fff;
	border: 1px solid #037dd6
}

.mm-primary-button:active {
	background-color: #0260a4;
	border: 1px solid #0260a4
}

.mm-password-header {
    background-color: #f2f3f4;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.mm-password-icon,
.mm-password-dropdown {
	display: inline-block
}

.mm-password-icon {
	width: 32px;
	height: 32px
}

.mm-password-dropdown {
    float: right;
    font-size: 12px;
    border: 1px solid #bbc0c5;
    border-radius: 100px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.mm-password-dropdown-figure {
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #29b6af;
	top: 0;
	margin-right: 5px
}

.mm-password-dropdown svg {
    height: 17px;
    display: inline-block;
}

.mm-password-logotype {
	margin-top: 60px
}

.mm-password-logotype svg {
	width: 120px;
	height: 120px;
	margin: 0 auto;
}

.mm-password-heading {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 0
}

.mm-password-text {
	font-size: 16px;
	color: #aeaeae;
	margin-top: 5px
}

.mm-password-input-container {
	position: relative;
	text-align: left;
	margin-top: 60px
}

.mm-password-input-label {
	position: absolute;
	top: 2px;
	left: 35px;
	font-size: 16px;
	line-height: 16px;
	pointer-events: none;
	transform-origin: 0 0;
	transition: .2s;
	color: #535a61;
	transition: .2s
}

.mm-password-input {
	display: block;
	width: 290px;
	height: 25px;
	font-size: 16px;
	border: 1px solid #000;
	border-width: 0 0 1px;
	padding: auto 0;
	padding: 0 0 5px 0;
	margin: 0 auto;
	box-sizing: border-box;
	transition: .2s
}

.mm-password-input:hover {
	border-bottom-width: 2px
}

.mm-password-input:focus {
	outline: none;
	border-bottom: 2px solid #037dd6
}

.mm-password-input-label-error {
	display: none;
	font-size: 12px;
	color: #f44336;
	margin-left: 35px;
	margin-top: 5px
}

.mm-password-invalid .mm-password-input-label-error {
	display: block
}

.mm-password-invalid .mm-password-input {
	border-bottom: 2px solid #f44336
}

.mm-input-active .mm-password-input-label {
	top: -17px;
	transform: scale(.75)
}

.mm-reset-text {
	padding: 0 20px
}

.mm-reset-text span {
	font-size: 16px;
	font-weight: 700;
	color: #d73a49
}

.mm-password-button {
	display: block;
	width: 290px;
	height: 43px;
	font-family: "Roboto", sans-serif;
	color: #fff;
	background-color: #037dd6;
	box-shadow: none;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	margin: 30px auto
}

.mm-password-button:disabled {
	opacity: .5;
	pointer-events: none
}

.mm-password-link-container {
	text-align: center
}

.mm-password-link {
	font-size: 12px;
	font-weight: 700;
	color: #037dd6;
	cursor: pointer;
	text-decoration: none
}

.mm-password-link:hover {
	color: #0260a4
}

.mm-password-footer {
	width: 100%;
	color: #aeaeae;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: 10px;
}

.mm-password-footer a {
	color: #037dd6;
	text-decoration: none
}
@media screen and (max-width: 980px) {
	.mm-container {
	    width: 100%;
	    height: 100%;
	    position: fixed;
	    top: 0;
	    right: 0;
	}
}
